body{
	margin:0px;
	background-color:#c9b9b7;
	overflow-x:hidden;
}
.navbar{
	height:60px;
	width:100%;
	background-color:#2f3c4f;
}
.navbar i{
	float:left;
	padding:5px 30px;
	color:orange;
	font-size:50px;
}
.navbar ul a{
	transition:0.9s;
	text-decoration:none;
	color:white;
	float:left;
	font-size:20px;
	font-family: 'Lexend Deca', sans-serif;
	margin-top:-15px;
	padding:0px 30px;
}
.navbar ul a:hover{
	transition:0.9s;
	color:orange;
}
.in{
	width:100px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top:-15px;
	transition:0.9s;
	border:0px solid white ;
	font-size:20px;	
	float:right;
	padding:3px 10px;
	font-family: 'Lexend Deca', sans-serif;
}
.bt{
	width:100px;
	margin-right:10px;
	text-align:center;
	text-decoration:none;
	border-top-right-radius: 5px;
	margin-top:-15px;
	transition:0.9s;
	border:3px solid white;
	border-bottom-right-radius: 5px;
	font-size:20px;	
	background-color:#ad9795;
	border:2px white;
	float:right;
	padding:3px 3px;
	font-family: 'Lexend Deca', sans-serif;
}
.in:hover{
	transition:0.9s;
	width:220px;
}
.navbar img{
	width:0px;
	
	height:0px;
}
.formimg{
	margin-left:100px;
	float:left;
	margin-top:100px;
	border-top: 30px solid orange;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom: 30px solid orange;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width:300px;
	height:300px;
	overflow:hidden;
}
.form{
	margin:50px;
	width:800px;
	float:right;
}
.form h1{
	font-family: 'Lexend Deca', sans-serif;
	font-size:50px;
	text-align:center;
}
.form p{
	font-size:20px;
	font-family: 'Lexend Deca', sans-serif;
	text-align:justify;
	margin:100px;
}
.navbar .s{
	transition:0.9s;
	text-decoration:none;
	color:white;
	float:left;
	font-size:20px;
	font-family: 'Lexend Deca', sans-serif;
	padding:0px 30px;
}
.download1{
	margin:20px;
	border-top: 30px solid orange;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom: 30px solid orange;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width:40%;
	float:left;
	border
	height:500px;
}
.e{
	font-family: 'Lexend Deca', sans-serif;
	font-size:50px;
	text-align:center;	
}
.download1 a{
	margin:230px;
	font-family: 'Lexend Deca', sans-serif;
	text-decoration:none;
	color:black;
	text-align:center;
}
.download2 a{
	margin:230px;
	font-family: 'Lexend Deca', sans-serif;
	text-decoration:none;
	color:black;
	text-align:center;
}
.download2{
	margin:20px;
	border-top: 30px solid orange;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom: 30px solid orange;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	width:40%;
	float:right;
	border
	height:500px;
}
@media only screen and (max-width: 1024px){
	.navbar{
		transition:0.9s;
		width:100%;
		height:50px;
		overflow:auto;
	}
	.in{
		width:220px;

	}
	.navbar i{
		font-size:0px;
		width:0px;
		height:0px;
	}
	.navbar img{
		width:20px;
		padding:15px 10px;
		height:20px;
	}
	.formimg{
		margin:30px;
	}
	.form{
		float:left;
		width:100%;
		overflow:hidden;
		margin:0px;
	}
	.form h1{
		font-size:40px;
	}
	.form p{
		margin:50px;
	}
	.navbar ul{
		margin-right:500px;
		margin-left:0px;
		float:left;
	}
	.navbar ul a{
		margin-top:20px;
	}
	body{
		overflow-x:hidden;
	}
	.navbar:hover{
		transition:0.9s;
		background-color:#c9b9b7;
		border-bottom: 2px solid #2f3c4f;
		height:250px;
	}
	.download1{
		width:330px;
		float:left;
	}
	.download1 a{
		margin-left:100px;
	}
	.download2 a{
		margin-left:100px;
	}
	.download2{
		width:330px;
		float:left;
	}
}
